<div class="checkout">
    <h1>Checkout</h1>
    <div class="row">
      <div class="col-sm-7">
        <h3 style="margin-bottom: 20px;" >Add Shipping Details</h3>
        <div class="form">
            <form  #userLogin = "ngForm">
                <div class="inputbox">
                    <input type="text" ngModel name = "email" required="required">
                    <span>User Email</span>
                </div>
                <div class="inputbox">
                    <input type="password" ngModel name = "password" required="required">
                    <span>User Address</span>
                </div>
                <div class="inputbox">
                    <input type="password" ngModel name = "password" required="required">
                    <span>User Contact</span>
                </div>
                <div class="inputbox-btn">
                    <button class="inputbox" ngModule>Order Now</button>
                </div>
            </form>
            <div style="color: red;" *ngIf="false">
                <p></p>
            </div>
        </div>
      </div>
      <div class="col-sm-5">
          <h3>Total Amount: {{totalPrice}}</h3>
          <h4>Payment Method : <b>Pay on delivery</b></h4>
      </div>
    </div>
  </div>